<form method="POST" action="/search">
    <label>Suche:
        <input type="text"
               class="border-2 rounded-md p-2" value="{{searchTerm}}" name="search">
    </label>
    <button class="border-2 rounded-md p-2">Search</button>
</form>