{{% BLOCKS }}
{{< layout/default }}
    {{$ content }}

        <div class="flex flex-col">
            {{#videoList}}
                <div class="m-4">
                    {{>snippets/video}}
                </div>
            {{/videoList}}
        </div>
    {{/ content }}

{{/layout/default }}